<a href="https://colab.research.google.com/github/joshfpedro/math-328/blob/main/2-core-python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Core Python Basics

## Variable Types and Casting

In [33]:
x = 7        # int
y = 2.5      # float
s = "328C"    # str
b = True     # bool

print(type(x), type(y), type(s), type(b))

# casting
print(int(y), float(x), str(x))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>
2 7.0 7

In [34]:
int(y)

2

In [35]:
float(x)

7.0

In [36]:
str(x)

'7'

In [37]:
import numpy as np

a = [True, True, False]
arr = np.array(a)
arr + 1

array([2, 2, 1])

In [38]:
arr.astype(str)

array(['True', 'True', 'False'], dtype='<U5')

In [39]:
np.int64(arr)

array([1, 1, 0])

### Exercise

- Create variables `a=10, b="3"`. Convert `b` to an integer and print `a + int(b)`.
- Check types before and after conversion.

In [40]:
# Define variables
a = 10
b = '3'

# Print variable types
print(type(a), type(b))

# Convert variable b to integer
b = int(b)

# Check types again
print(type(a), type(b))

# Add variables
a + b

<class 'int'> <class 'str'>
<class 'int'> <class 'int'>

13

You cannot add a numerical type (floats or ints) with string

`2.0 + 'test'`

This will give the error below

```
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
/tmp/ipython-input-1910226837.py in <cell line: 0>()
      1 # You cannot add a numerical type (floats or ints) with string
----> 2 2.0 + 'test'

TypeError: unsupported operand type(s) for +: 'float' and 'str'
```

In [43]:
# However, you can multiply strings by integers
3 * 'test'

'testtesttest'

## IF, ELIF, and ELSE statements

In [48]:
def classify(x):

  output = ""

  if x < 0:
      output = "negative"

  elif x == 0:
      output = "zero"

  else:
      output = "positive"

  return output

print(classify(-2), classify(0), classify(5))

negative zero positive

In [53]:
x = 0

if x < 0:
    print("negative")

elif x == 0:
    print("zero")

else:
    print("positive")

zero

### Exercise

- Write a function `is_even(n)` that returns `True` if `n` is even, else `False`.
- Test it on `n = 5` and `n = 12`.

In [56]:
# Define is_even function
def is_even(n):
  if n % 2 == 0:
    return True

  else:
    return False

# Test function
print(is_even(5), is_even(12))

False True

In [66]:
def is_even(n):
    return (n % 2) == 0

print(is_even(5), is_even(12))

False True

## Loops: `for` and `while`

$$\sum_{i=1}^n i = \frac{n(n+1)}{2}$$

In [91]:
sum(list(range(1, 101)))

5050

In [90]:
integer_list = []

for i in range(1, 101):
    integer_list.append(i)

print(integer_list)
print(sum(integer_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
5050

In [71]:
even_numbers = [0, 2, 4, 6, 8, 10]

for i in even_numbers:
    print(i**2)

0
4
16
36
64
100

In [93]:
# for
s = 0
for k in range(101):  # k = 0,...,100
    s += k
print("sum 0,...,100:", s)

# # while
# k = 5
# fac = 1
# while k > 1:
#     fac *= k
#     k -= 1
# print("5!:", fac)

sum 0,...,100: 5050